

<div class="container">
<h1> My investments </h1>
<% @startups.each  do |startup| %>
<div class= "row">


	<div class="span6">


	<%= image_tag startup.avatar_url ,:style=>"width:100px;height:100px;"%>



	</div>

	<div class="span6"><h2 class ="subheader"><%= link_to startup.name , startup_path(startup) %> </h2></div>


</div><br>
<% end %>


</div>

