<h1> My investments </h1>

<div class="container">
<!--
 --><% @startups.each  do |startup| %>
<div class= "row-fluid">


<div class="span6">


<%= image_tag startup.avatar_url ,:style=>"width:100px;height:100px;"%>



</div>

<div class="span6"><h2 class ="subheader"><%= link_to startup.name , startup_path(startup) %> </h2></div>


</div><% end %>


</div>