<h1 class="subheader"> Results</h1>

<% if flash[:snotice] %>
     <h1 class="notice subheader"><%= flash[:snotice] %></h1><BR>
 <% end %>



<% @search.each do |search| %>

<div class="row ">

<div class ="span4">
<%= image_tag(search.avatar_url , :style=>"height:200px; width:300px;")   if search.avatar  %>
</div>
<div class ="span4">

<br><br><br><br><h2 class="subheader"><%=link_to search.name , search %> </h2>
</div>
<div class ="span4">
<br><br><br><br><h2 class="subheader"><%= search.country %> </h2>
</div>



</div>
<% end %>


