




<div class="row-fluid"><div class="container">
<div class="span3" style="background-color:#f5f5f5;">
<button class="btn btn-block btn-primary btn-large disabled"> New Startup </button>
<br><center>
<%= render :partial => 'form' %></center></div>
<div class="span9"></div>



</div></div>
