
<div class="container" style="background-color:#f5f5f5;">

  <div class="row-fluid" >	

  
   

   	<div class="row"> 
   <div class="span1"></div>
   <div class="span3" ><br>
   <button class="btn btn-primary btn-block btn-large disabled">SIGN UP</button>

    </div>
    <div class="span3"></div>
    <div class="span5"></div>
   </div> <!-- fin del row de abajo-->	




   





  <div class="row"> 
   <div class="span1"></div>
   <div class="span3" style="background-color:white;padding-right:1%;padding-left:1%;">
	
   	<br>
   	
	<%= form_for @user do |form| %>
  	<%= render :partial => '/users/form', :object => form %>
  	<%= form.submit 'Sign up', :class=>"btn btn-primary" %>
	<% end %>

    </div>
    <div class="span3">
      </div>
    <div class="span5"></div>
   </div> <!-- fin del row de abajo-->	


 <br><br>
 </div><!-- fin de row fluid-->


</div><!-- fin de container-->

  