
<h1>NOTIFICACIONES</h1>


<% @activities.each do |activity| %>

<div class="row-fluid">


<div class="span1">
  

    

</div>


<div class="span7">

	 
<%= link_to activity.owner.name  , :controller => :profiles , :action => :user, :id=> activity.owner.id if activity.owner_type ="User" %> commented :  on <%= link_to activity.trackable.startup.name, activity.trackable.startup %> <!--if aplicable a los updats de startups igual --> 





</div>

<div class="span4">



</div>




 



</div>

<br><br>
 <% end %> 