
<!-- este es el que muestra los members en show -->


<p>
      <%= link_to member.name  , :controller => :profiles , :action => :show , :id=> member.profile_id  %> &nbsp;&nbsp;&nbsp;&nbsp; <%= member.job %> / <%= member.mtype %>

</p><br>


 

 